
@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size:20px;
  font-style: italic;
}
html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
}
canvas{
  width: 100%;
  height: 100%;
}

#time {
	position:absolute;
	left:20px;
	top:50px;
}
#score {
	position:inherit;
  color: white;
	left:20px;
	top:20px;
}
#start{
  position:absolute;
	left:50%;
	top:50%;
}
#container {
	position:absolute;
}

#webglcanvas {
	border:none;
	background-color:#ffffff;
}


.btn {
  font-family: Trebuchet,sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  padding: 10px 10px;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: none;
  border-color: black;
  box-shadow: 0 0 0 3px black;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.btn-primary {
  color: var(--button-color);
  background-color: var(--button-background-color);
  border-radius: 2px;
}

.btn-primary:hover {
  box-shadow: inset 0 0 0 20rem gray;
}

.btn-primary:active {
  box-shadow: inset 0 0 0 20rem gray,
    inset 0 3px 4px 0 gray,
    0 0 1px gray;
}

.btn-primary:disabled,
.btn-primary.is-disabled {
  opacity: .5;
}
:root {
  --button-color: black;
  --button-background-color: silver;
}
